<%- include("../partials/header"); %>

<div class="form_container">
    <h2>Subscribe now</h2>
    <div class="form_box">
        <form action="/" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="email" name="email" placeholder="Email Id">
            <button type="submit">Subscribe Now</button>
        </form>
    </div>
</div>

<%- include("../partials/footer"); %>